html, body {
  height: 100%;
  overflow: hidden;
}

* {
  user-select: none;
  box-sizing: border-box;
  cursor: default;
}

.link {
	cursor: pointer !important;
}

body {
    background: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.window { 
    max-width: 500px;
    font-family: 'Arial',sans-serif;
    background: #c0c0c0;
    border: 1px solid #dfdfdf;
    border-right-color: #000;
    border-bottom-color: #000;
}

.window > .inner {
    border: 1px solid #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.window .header {
    margin: 2px 2px 0;
    padding: 1px 2px;
    color: #fff;
    background: linear-gradient(to right, #000080, #1084d0);
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
}

.window.description .header {
    background: #000080;
}

.window .header > .icon {
    background: url('https://dl.dropboxusercontent.com/u/16697297/themes/releases/win98_v2/win98_notepad_icon.png') no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
    .window .header > .icon {
        background-image: url('https://dl.dropboxusercontent.com/u/16697297/themes/releases/win98_v2/win98_notepad_icon@2x.png');
        background-size: 16px 16px;
    }
}

.window .header > .windows-application-icon {
    float: left;
    margin-right: 5px;
    margin-left: 1px;
}

.window .header > .windows-application-controls {
    margin: 1px 0;
    float: right;
}

.window .actions {
    margin: 5px 9px;
    line-height: 1;
    color: #000;
    font-size: 11px;
}

.window .content {
    margin: 0 2px 2px 2px;
    border: 1px solid #808080;
    border-right-color: #fff;
    border-bottom-color: #fff;
    font-size: 13px;
}

.window .content > .inner {
    background: #fff;
    border: 1px solid #000;
    border-right-color: #dfdfdf;
    border-bottom-color: #dfdfdf;
    padding: 7px 10px;
}

.window.description .content,
.window.description .content > .inner {
    margin: 0;
    border: 0;
    background: transparent;
}

p {
    margin: 0;
}


.sprite {
    background-repeat: repeat;
}

.windows-start-icon {
    background-position: -2px -16px;
    width: 14px;
    height: 14px;
}

.windows-application-icon {
    background-position: -27px -16px;
    width: 16px;
    height: 16px;
}

.windows-tray-left {
    background-position: -66px -15px;
    width: 84px;
    height: 16px;
}

.windows-tray-right {
    background-position: -233px -16px;
    width: 16px;
    height: 16px;
}

.windows-application-controls {
    background-position: -167px -15px;
    width: 50px;
    height: 14px;
}

.application-icon-recycle-bin {
    background-position: -261px 0;
    width: 30px;
    height: 32px;
    margin: 0 1px;
}

.application-icon-my-documents {
    background-position: -291px 0;
    width: 32px;
    height: 32px;
}

.application-icon-generic-folder {
    background-position: -323px 0;
	width: 32px;
	height: 32px;
}


.start-bar-outer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 28px;
    background: #c0c0c0;
    border-top: 1px solid #dfdfdf;
}

.start-bar {
    border-top: 1px solid #fff;
  
}

.start-bar-start-button-outer {
    border: 1px solid #fff;
    border-right-color: #000;
    border-bottom-color: #000;
    margin: 2px;
    width: 63px;
    float: left;
}

.start-bar-start-button {
    border: 1px solid #dfdfdf;
    border-right-color: #808080;
    border-bottom-color: #808080;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    line-height: 1;
    padding: 3px 0 2px;
    font-weight: bold;
}

.start-bar-start-button .sprite.windows-start-icon {
    float: left;
    margin-top: -1px;
    margin-right: 3px;
    margin-left: 2px;
}

.start-left-separator {
    width: 1px;
    border-left: 1px solid #808080;
    background: #fff;
    height: 22px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}

.start-left-smaller-separator {
    height: 16px;
    width: 1px;
    border: 1px solid #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    float: left;
    margin-top: 4px;
    margin-left: 2px;
}

.dock-time {
    border: 2px solid #666;
    border-right-color: white;
    border-bottom-color: white;
    float: right;
    padding: 5px 15px 5px 35px;
	font-family: 'Arial',sans-serif;
    font-size: 12px;
    background-size: 20px;
    background: url(/public/img/volume.png) no-repeat 5px center;
}

.windows-icon {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90px;
	height: 50px;
}

.windows-icon.first {
	top: 10px;
	left: 10px;
}

.windows-icon.second {
	top: 85px;
	left: 10px;
}

.windows-icon.third {
	top: 160px;
	left: 10px;
}

.windows-icon>img {
	margin-bottom: 2px;
}

.windows-icon>.label {
	font-family: 'Arial',sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000, 2px 2px 1px #000000;
}

.recycle-bin {
	width: 32px;
	height: 32px;
}

.my-computer {
	width: 32px;
	height: 32px;
}

.my-documents {
	width: 32px;
	height: 32px;
}

.-center {
	margin-top: 1em;
	text-align: center;
}

.spaced-top {
	margin-top: 0.5em;
}
